%p#notice= notice

%p
  %b User:
  = @comment.user
%p
  %b Content:
  = @comment.content
%p
  %b Commentable:
  = @comment.commentable

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', [@commentable, Comment]
