#activities.list-group{'data-url': activities_path}
  - items.each do |activity|
    .list-group-item.flex-column.align-items-start
      .d-flex.w-100.justify-content-between<>
        .lead= activity.places.pluck(:name).to_sentence
        %small.card.text-muted.p-1
          .card-block.text-nowrap.p-0<>
            .font-weight-bold= t('activity.date_range')
          .card-block.text-nowrap.p-0<>
            = timeago_tag activity.start_date
            %span.m-1<>
              |
            = timeago_tag activity.end_date
      %p.activity-description.mt-1<>= activity.description.html_safe
      .d-flex.w-100.justify-content-between<>
        %small
          = precede t("activity.posted") do
            = timeago_tag activity.created_at, class: 'ml-1'
        - if activity.respond_to? :comments
          %small
            = link_to t('comment.comments', count: activity.comments.count),
                      polymorphic_url([activity, :comments], only_path: true)
